<%= form_with model: [ @article, @article.comments.build ] do |form| %>

  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter, {:class => 'form-control'} %>
  </p>

  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body, {:class => 'form-control'} %>
  </p>

  <div class= "form-select">
    <%= form.label :status %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
  </div>

  <p class= 'btn'>
    <%= form.submit %>
  </p>
<% end %>
