<!DOCTYPE html>
<html>
  <head>
    <title>TestTaskBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container py-3">
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">My own blog</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <span class="me-3 py-2 text-dark text-decoration-none"><%= link_to "Home", root_path %></span>
        <span class="me-3 py-2 text-dark text-decoration-none"><%= link_to "New Article", new_article_path %></span>

       
      </nav>
    </div>

    
  </header>
  <%= yield %>
  </div>
    
  </body>
</html>
